@font-face {
    font-family: 'Garet';
    src: url('./assets/fonts/Garet-Book.woff2') format('woff2');
    src: url('./assets/fonts/Garet-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}